{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://s2.loli.net/2022/04/21/vifY7W5S8jhBEz3.png">
    {#    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/blog/">#}

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/Custom_For_ThisWeb.css' %}">
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav col-md-12">
            <a class="blog-nav-item" href="/home" target="_self">热点</a>
            <a class="blog-nav-item" href="/News_?cate=财经" target="_self">财经</a>
            <a class="blog-nav-item" href="/News_?cate=科技" target="_self">科技</a>
            <a class="blog-nav-item" href="/News_?cate=娱乐" target="_self">娱乐</a>
            <a class="blog-nav-item" href="/News_?cate=体育" target="_self">体育</a>
            <a class="blog-nav-item" href="/News_?cate=时尚" target="_self">时尚</a>
            <a class="blog-nav-item" href="/News_?cate=美食" target="_self">美食</a>
            <a class="blog-nav-item" href="/News_?cate=国际" target="_self">国际</a>
            <a class="blog-nav-item" href="/News_?cate=养生" target="_self">养生</a>
            <a class="blog-nav-item" href="/News_?cate=旅游" target="_self">旅游</a>
            <form action="/Search" method="get" role="search" id="searchform">
            <div class="col-lg-6">
                <div class="input-group">

                    <input type="search" class="form-control" placeholder="请输入关键词" name="keywords" required>
                    <span class="input-group-btn">
        <button class="btn btn-default" type="submit" onclick="">Go!</button>
      </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
                </form>
        </nav>
    </div>
</div>

<div>
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/js/bootstrap.min.js"></script>
</body>
</html>
