{% extends "Base.html" %}
{% block content %}
    <div class="container">

        <div class="blog-header">
        </div>

        <div class="row">

            <div class="blog-main">

                <div class="blog-post col-md-12">
                    {% for data in news_list %}
                        <h3 class="blog-post-title-home"><a
                                href="/Show_Detail?news_id={{ data.news_id }}&cate={{ data.category }}">{{ data.title }}</a>
                        </h3>
                        <p class="blog-post-meta">{{ data.issue_time }} by <a
                                href="{{ data.content_url }}">{{ data.information_source }}</a></p>
                    {% endfor %}
                </div><!-- /.blog-post -->

            </div><!-- /.blog-main -->

        </div><!-- /.row -->
        
        <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/News_?page={{ previous_page }}&cate={{ news_list.0.category }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for num in page_num %}
                    <li><a href="/News_?page={{ num }}&cate={{ news_list.0.category }}">{{ num }}</a></li>
                {% endfor %}
                <li>
                    <a href="/News_?page={{ next_page }}&cate={{ news_list.0.category }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </div><!-- /.container -->
{% endblock %}
