{% extends "Base.html" %}
{% block content %}
    <div class="container">

    <div class="blog-header">
    </div>

    <div class="row">

        <div class="col-sm-18 blog-main">

            <div class="blog-post">
                {% for data in data_list %}
                    <h3 class="blog-post-title">{{ data.title }}</h3>
                    <p class="blog-post-meta">{{ data.issue_time }} by <a href="{{ data.content_url }}">{{ data.information_source }}</a></p>
                {% endfor %}
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

    </div><!-- /.row -->

    <div>

    </div>
</div><!-- /.container -->
{% endblock %}