{% extends "Base.html" %}
{% block content %}
    <div class="container">

    <div class="blog-header">
    </div>

    <div class="row">

        <div class="blog-main">

            <div class="blog-post col-md-12">
                {% for data in data_list %}
                    <h3 class="blog-post-title-home"><a href="/Show_Detail?news_id={{ data.news_id }}&cate={{ data.category }}">{{ data.title }}</a></h3>
                    <p class="blog-post-meta">{{ data.issue_time }} by <a href="{{ data.content_url }}">{{ data.information_source }}</a></p>
                {% endfor %}
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
