{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
{#<input type="text" class="btn btn-primary" value="新建">#}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
      <a class="navbar-brand" href="#" style="font-size:20px; padding: 20px">FantasticNewsAboutTheWorld</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">财经</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">科技</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">娱乐</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">体育</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">时尚</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">美食</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">国际</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">养生</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">旅游</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">军事</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">历史</a></li>
        <li><a href="#" style="font-size:18px; padding: 20px; text-align:center">数码</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px; padding: 20px; text-align:center">更多分类<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">财经</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">科技</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">娱乐</a></li>
{#            <li role="separator" class="divider"></li>#}
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">体育</a></li>
{#            <li role="separator" class="divider"></li>#}
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">时尚</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">美食</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">国际</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">养生</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">旅游</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">军事</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">历史</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">游戏</a></li>
            <li><a href="#" style="font-size:17px; padding: 15px; text-align:center">数码</a></li>

          </ul>
        </li>
      </ul>
{#      <form class="navbar-form navbar-left col-sm-2" style="padding: 5px">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search News" style="width: max-content">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary">查询</button>#}
{#      </form>#}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>