{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/blog/">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
{#    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/css/bootstrap.min.css"#}
{#          rel="stylesheet">#}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/css/ie10-viewport-bug-workaround.css"#}
{#          rel="stylesheet">#}

    <!-- Custom styles for this template -->
{#    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/examples/blog/blog.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'css/Custom_For_ThiseWeb.css' %}">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
{#    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie8-responsive-file-warning.js"></script>#}
    <![endif]-->
{#    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie-emulation-modes-warning.js"></script>#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
{#    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            {#          <a class="blog-nav-item active" href="#">Home</a>#}
            <a class="blog-nav-item" href="#">财经</a>
            <a class="blog-nav-item" href="#">科技</a>
            <a class="blog-nav-item" href="#">娱乐</a>
            <a class="blog-nav-item" href="#">体育</a>
            <a class="blog-nav-item" href="#">时尚</a>
            <a class="blog-nav-item" href="#">美食</a>
            <a class="blog-nav-item" href="#">国际</a>
            <a class="blog-nav-item" href="#">养生</a>
            <a class="blog-nav-item" href="#">旅游</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
    </div>

    <div class="row">
        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                <h3 class="blog-post-title">{{ data.title }}</h3>
                <p class="blog-post-meta">January 1, 2014 by <a
                        href="{{ data.content_url }}">{{ data.information_source }}</a></p>
                                <div>
                                    {% autoescape off %}
                                    {{ data.content }}
                                    {% endautoescape %}
                                </div>
            </div><!-- /.blog-post -->

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

    </div><!-- /.row -->
</div><!-- /.container -->

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie10-viewport-bug-workaround.js"></script>#}
</body>
</html>
